<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="#/" color="red"  text="geri" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="baslik">Sağlıklı beslenme nedir?</h1>
  <p></p>
  <ion-img class="resim" src="assets/resimler/sayfa1.jpg"></ion-img>
<p class="yazi">Sağlıklı beslenme, hem sağlığın hem de vücut formunun korunması açısından en önemli konulardan bir tanesidir. Bebeklerde anne sütü veya formülalar ile başlayan süreçten, yetişkinlik ve yaşlılık dönemine kadar tüm yaş gruplarında sağlıklı ve dengeli beslenme konusunda gerekliliklerin yerine getirilmesi, hastalıklardan korunmak ve ideal vücut kütlesine sahip olmak açısından büyük önem taşır. Vücutta günlük işlevlerin sorunsuz bir şekilde yerine getirilebilmesi için tüm besin ögelerinin eksiksiz bir şekilde karşılanması gerekir.</p>
</ion-content>
