<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
     <!--geri butonu-->
     <ion-buttons slot="start">
      <ion-back-button defaultHref="#/" color="red"  text="geri" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="baslik">Sağlıklı beslenme neden önemlidir?</h1>
  <p></p>
  <ion-img class="resim" src="assets/resimler/sayfa1.jpg"></ion-img>
<p class="yazi">Vücut fonksiyonlarının sağlıklı bir şekilde sürdürülebilmesi için protein, karbonhidrat, yağ, vitamin, mineral ve diyet lifleri besinlerle birlikte yeterli miktarda vücuda alınmalıdır. Bunun için her besin türünden yeterli miktarda ve aşırıya kaçmadan tüketilmeli, diyette çeşitlilik sağlanmalıdır.</p>

</ion-content>
