.baslik{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#ff1a1a;
    font-size: 20px;
    text-align: center;
}

.resim{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    
 }

 .yazi{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 18px;
 }