.baslik{
color:#ff3333;
text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
}

.duzen{
    color:#ff3333;
    font-size: 16px;
}

.hesapla{
    position: relative;
    margin:auto;
    margin-top:5vh;
    left: 185px;
}

.yazi{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}