<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sağlıklı Beslenme
    </ion-title>
  </ion-toolbar>
</ion-header >
<ion-content [fullscreen]="true">
 
  <!--logo-->
  <!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div style="text-align: right;" >
    <ion-icon  style="margin: 3px 3px; width:30px; height: 30px; background-color: #DD2A7B;color: white;" name="logo-instagram"></ion-icon>
    <ion-icon  style="margin: 3px 3px; width:30px; height: 30px; background-color: #55ACEE;color: white;" name="logo-twitter"></ion-icon>
    <ion-icon  style="margin: 3px 3px; width:30px; height: 30px; background-color: #3B5998;color: white;" name="logo-facebook"></ion-icon>
    <ion-icon  style="margin: 3px 3px; width:30px; height: 30px; background-color: #dd4b39;color: white;" name="logo-google"></ion-icon>
  </div>
  -->
  
  <!--baslik-->
  <div class="baslik">
  <ion-text>
    <h1>Sağlıklı Beslenme Nasıl Olmalıdır?</h1>
  </ion-text>
  </div>
  <!--baslik-->
  <!--slider-->

  <ion-slides pager="true" >
    <ion-slide>
      <ion-img class="resim" src="assets/resimler/resim2.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img class="resim" src="assets/resimler/resim3.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img class="resim" src="assets/resimler/resim4.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img class="resim" src="assets/resimler/resim5.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  
  <!--slider-->
  <p></p>
  <div class="vr">
  <!--menu-->
  <p class="icindekiler">&ensp;İçindekiler</p>

<ion-list>
      <ion-item class="liste" href="/sayfa1" menu-close>Sağlıklı beslenme nedir?</ion-item>
      <ion-item class="liste" href="/sayfa2" menu-close>Sağlıklı beslenme neden önemlidir?</ion-item>
      <ion-item class="liste" href="/sayfa3" menu-close>Sağlıksız beslenmeye bağlı olarak görülebilen sorunlar nelerdir?</ion-item>
    </ion-list>
  

  </div>

</ion-content>

