<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      İdeal Vücut Kitle Endeksi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-img src="assets/resimler/resim11.jpg"></ion-img>

  <p class="yazi">Yaş aralığına göre ise kişinin ideal vücut kitle endeksi şu şekildedir:</p>
  <p></p>
  <ul>
    <li><p><b>19-24 Yaş:</b> 19-24 BMI.</p></li>
    <li><p><b>25-34 Yaş:</b> 20-25 BMI.</p></li>
    <li><p><b>35-44 Yaş:</b> 21-26 BMI.</p></li>
    <li><p><b>45-54 Yaş:</b> 22-27 BMI.</p></li>
    <li><p><b>55-64 Yaş:</b> 23-28 BMI.</p></li>
    <li><p><b>65 Yaş ve üzeri:</b> 24-29 BMI.</p></li>
  </ul>
 
</ion-content>
