<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <!--geri butonu-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#/" color="red"  text="geri" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="baslik">Sağlıksız beslenmeye bağlı olarak görülebilen sorunlar nelerdir?</h1>
  <p></p>
  <ion-img class="resim" src="assets/resimler/sayfa1.jpg"></ion-img>
<p class="yazi"> Sağlıksız, dengesiz veya yetersiz beslenme durumunda ortaya çıkan kötü beslenme tablosu, tıp dilinde malnütrisyon olarak adlandırılır. Malnütrisyon ile birlikte sıklıkla görülen sağlık sorunlarından bazıları şunlardır:</p>

<ul class="madde">
  <li>Vitamin ve mineral eksiklikleri</li>
  <li>Zayıflık</li>
  <li>Tiroid hastalıklar</li>
  <li>İnfertilite (kısırlık)</li>
  <li>Büyüme ve gelişim geriliği</li>
  <li>Sık geçirilen enfeksiyonlar</li>
  <li>Unutkanlık, konsantrasyon güçlüğü</li>
  <li>Yorgunluk ve halsizlik</li>
  <li>Anemi (kansızlık)</li>
  <li>Organ fonksiyonlarında bozulmalar</li>
  <li>Kemik ve eklem hastalıkları</li>
  <li>Kas kaybı (sarkopeni) ve kas gücünde azalma</li>
</ul>

</ion-content>
